<footer>
  <section>
    <p><strong>About the author</strong></p>
    <p>
      Jamie is some guy in The Netherlands. He's under the illusion that his
      opinions are his own, and should never be taken seriously or let out of
      the house.
    </p>
    <p>
      <a href="https://schembri.me" target="_blank">Blog</a> ·
      <a href="https://github.com/shkm" target="_blank">GitHub</a> ·
      <a href="https://bsky.app/profile/jamie.schembri.me" target="_blank"
        >Bluesky</a
      >
    </p>
  </section>

  <section class="build-info">
    <p>
      Built in __BUILD_TIME__ with
      <a href="https://github.com/shkm/blurt" target="_blank">blurt __BLURT_VERSION__</a> ·
      <a
        href="https://github.com/shkm/moanings/commit/__COMMIT_SHA__"
        target="_blank"
        >__COMMIT_SHA__</a
      >
    </p>
  </section>
</footer>
