<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <title>$site_title$</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/atom+xml" title="$site_title$" href="/feed.xml">
    ${social()}
  </head>
  <body>
    <main>
      <header>
        <h1>$site_title$</h1>
      </header>
      <p>Jamie's unfiltered thoughts.</p>
      <ol reversed>
        $body$
      </ol>
      <hr>
      $footer()$
    </main>
  </body>
</html>
